.ingredients {
position:relative; left:-1200px; top:500px;
font-size: 14px;
font-weight: normal;
width: auto;
display: block;
color: rgba(0, 0, 0, 0.797);
border-radius: 30px;
border-color: yellow;
padding: 15px;
height: 555px;
background: linear-gradient(0deg, #ebd80a 0%, #0b28ba 100%);
}

.container {
width: 100%;
}

.ingredient {

    font-size: 15px;
    font-weight: normal;
    width: 200px;
    display: block;
    /* background-color: rgb(22, 22, 46); */
    color: rgb(28, 27, 0);
    border-radius: 30px;
    border-color: yellow;
    padding: 15px;
    height: 555px;
    position:relative; left:-700px; top:-98px;

    background: linear-gradient(0deg, #ebd80a 0%, #0b28ba 100%);
}