.container {
    width: 100%;
    
    
}
.simfood {
    font-size: 10px;
    font-weight: normal;
    width: 300px;
    display: block;
    /* background-color: rgb(22, 22, 46); */
    color: rgb(184, 255, 197);
    border-radius: 5px;
    border-color: yellow;
    padding: 8px;
    height: 350px;
    position:relative; left:105px; top:5px;

    background: linear-gradient(0deg, #2a4398 0%, #c4af0e 100%);
    
    /* float: left; */
}

.foodPic {
    width: 200px;
    display: block;
    margin: auto auto;
    max-height: 10vw;
    min-height: 10vw;
    max-width: 10vw;
    min-width: 10vw;
}