.container {
    width: 100%;
    
    
}
.simfood {
    font-size: 13px;
    font-weight: normal;
    width: 300px;
    display: block;
    /* background-color: rgb(22, 22, 46); */
    color: rgb(8, 6, 0);
    border-radius: 55px;
    border-color: rgb(5, 5, 5);
    padding: 9px;
    height: 350px;
    position:relative; left:105px; top:5px;

    background: linear-gradient(0deg, #2a4398 0%, #c4af0e 100%);
    
    /* float: left; */
}

.foodPic {
    width: 200px;
    display: block;
    margin: auto auto;
    max-height: 10vw;
    min-height: 10vw;
    max-width: 10vw;
    min-width: 10vw;
}
.likeButton {
    color: rgb(50, 23, 112);
    position:relative; left:235px; top:20px;
    background: linear-gradient(0deg, #df531f 0%, #b6991a 100%);
}